/* ------------------------------------------------------------ *\
	form
\* ------------------------------------------------------------ */

form.wpcf7-form {
	.wpcf7-response-output {
		color: var(--third);
	}

	&.form--tiny {
		border          : unset;
		background-color: unset;
		box-shadow      : unset;
		padding         : 0px;

		form {
			display    : flex;
			align-items: flex-end;

			.form__col {
				flex-grow: 1;

				&.form__btn {
					max-width: 180px;
				}

				@include breakpoint-down(tablet) {
					padding: 8px;
				}
			}

			@include breakpoint-down(tablet) {
				flex-direction: column;
				align-items   : center;
			}
		}
	}

	&,
	& .form__col * {
		width      : 100%;
		font-weight: 400;
	}

	h4 {
		margin-bottom: 25px;
		color        : var(--secondary);

		&:last-child {
			margin-bottom: 0;
		}
	}

	ul {
		list-style: none;
	}

	p {
		margin-bottom: 16px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.form__head {
		margin-bottom: 40px;
		text-align   : center;
	}

	.form__head p {
		font-size  : 16px;
		font-weight: 600;
	}

	.select {
		position: relative;
		width   : 100%;
		color   : var(--third);

		&::before {
			content       : "\e907";
			color         : var(--primary);
			display       : block;
			font-family   : 'mayfair-icons';
			font-size     : 20px;
			pointer-events: none;
			position      : absolute;
			right         : 20px;
			top           : 50%;
			transform     : translateY(-50%);
			transition    : all $t-duration-fast ease;

		}
	}

	.select.active {
		&::before {
			transform: translateY(-50%) rotate(180deg);
		}
	}

	& .select * {
		width    : 100%;
		max-width: 100%;
	}

	.wpcf7-submit {
		background: none;
		width     : auto;
		position  : relative;

		&::before {
			all: unset;
		}
	}

	.checkboxes .wpcf7-form-control,
	.checkboxes ul,
	.radios .wpcf7-form-control,
	.radios ul {
		display  : flex;
		flex-wrap: wrap;
	}

	.checkboxes .wpcf7-list-item,
	.checkboxes ul li,
	.radios .wpcf7-list-item,
	.radios ul li {
		width       : 50%;
		padding-left: 7px;
		margin      : 0 0 25px;

		@include breakpoint-down(mobile) {
			width: 100%;
		}
	}

	.radios .wpcf7-list-item,
	.checkboxes .wpcf7-list-item {
		position      : relative;
		padding-left  : 29px;
		text-transform: capitalize;
	}

	.radios .wpcf7-list-item .wpcf7-list-item-label:before,
	.checkboxes .wpcf7-list-item .wpcf7-list-item-label:before {
		content      : "";
		display      : inline-block;
		width        : 18px;
		height       : 18px;
		border       : 2px solid var(--primary);
		border-radius: 2px;
		position     : absolute;
		top          : 50%;
		left         : 0;
		transform    : translateY(-50%);
	}

	.radios .wpcf7-list-item .wpcf7-list-item-label:before {
		border-radius: 50%;
		width        : 20px;
		height       : 20px;
	}

	.radios .wpcf7-list-item input,
	.checkboxes .wpcf7-list-item input {
		position: absolute;
		width   : 1px;
		height  : 1px;
		padding : 0;
		margin  : -1px;
		overflow: hidden;
		clip    : rect(0, 0, 0, 0);
		border  : 0;
	}

	.radios .wpcf7-list-item input:checked+.wpcf7-list-item-label:after,
	.checkboxes .wpcf7-list-item input:checked+.wpcf7-list-item-label:after {
		content            : "";
		display            : inline-block;
		width              : 18px;
		height             : 18px;
		position           : absolute;
		top                : 50%;
		left               : 0;
		transform          : translateY(-50%);
		background-image   : url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 4.52941L3.64706 7L7.35294 1' stroke='white' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E");
		background-repeat  : no-repeat;
		background-position: 5px center;
		background-color   : var(--primary);
	}

	.checkboxes .wpcf7-list-item input:checked+.wpcf7-list-item-label:before {
		border-color: transparent;
	}

	.radios .wpcf7-list-item input:checked+.wpcf7-list-item-label:after {
		background   : var(--primary);
		border-radius: 50%;
		width        : 10px;
		height       : 10px;
		left         : 5px;
	}

	.checkboxes .wpcf7-list-item-label,
	.radios .wpcf7-list-item-label {
		cursor: pointer;
	}

	.form__row {
		display       : flex;
		flex-wrap     : wrap;
		margin        : -8px -12px;
		padding-bottom: 13px;

		&:last-child {
			padding-bottom: 0;
		}
	}

	.form__col {
		position: relative;
		width   : 50%;
		padding : 12px 11px;

		@include breakpoint-down(mobile) {
			width: 100%;
		}

		&:only-child {
			width: 100%;
		}
	}

	.form__col.active-field {
		.form__label {
			color: var(--primary);
		}
	}

	.form__col.data-not-valid {
		.form__controls {
			&::after {
				content         : '!';
				position        : absolute;
				right           : 35px;
				top             : 36%;
				transform       : translateY(-50%);
				text-align      : center;
				background-color: #EE0004;
				color           : #FFF;
				font-size       : 16px;
				line-height     : normal;
				font-weight     : 900;
				border-radius   : 100%;
				padding         : 1px 8px;
			}
		}

		.form__controls.date {
			&::after {
				right: 70px;
			}
		}

		.form__label {
			color: $form-input-invalid;
		}
	}

	.form__hint {
		display: none;
	}

	.wpcf7-textarea,
	.textarea,
	.field {
		border          : none;
		padding         : 15px 15px 15px 0px;
		background-color: var(--sixth);
		box-shadow      : inset 0 -1px 0 var(--secondary);
		font-family     : var(--font-primary);
		font-style      : normal;
		font-weight     : 400;
		font-size       : 16px;
		line-height     : 26px;
		color           : var(--third);

		&::-webkit-input-placeholder,
		&::-moz-placeholder,
		&:-ms-input-placeholder,
		&::placeholder {
			color: var(--fifth);
		}

		&::-ms-expand {
			display: none;
		}

		&:hover,
		&:active,
		&:focus {
			caret-color: var(--primary);
			color      : var(--primary);
			box-shadow : inset 0 -1px 0 var(--primary);
		}

		&:hover {
			background: var(--sixth);

			&::-webkit-input-placeholder,
			&::-moz-placeholder,
			&:-ms-input-placeholder,
			&::placeholder {
				color: var(--primary);
			}
		}
	}

	.wpcf7-textarea::placeholder,
	.textarea::placeholder,
	.field::placeholder {
		color: var(--third);
	}

	.field:active::placeholder,
	.field:focus::placeholder,
	.field:hover::placeholder,
	.wpcf7-textarea:active::placeholder,
	.wpcf7-textarea:focus::placeholder,
	.wpcf7-textarea:hover::placeholder,
	.textarea:active::placeholder,
	.textarea:focus::placeholder,
	.textarea:hover::placeholder {
		color: var(--primary);
	}

	.active-field.wpcf7-textarea,
	.active-field.textarea,
	.active-field.field {
		color: var(--fourth);

		&:hover,
		&:active,
		&:focus {
			color: var(--primary);
		}
	}

	input[type="date"]::-webkit-inner-spin-button,
	input[type="date"]::-webkit-calendar-picker-indicator {
		display           : none;
		-webkit-appearance: none;
	}

	.wpcf7-not-valid-tip {
		margin     : 5px 0;
		font-family: var(--font-primary);
		font-style : normal;
		font-weight: 600;
		font-size  : 12px;
		line-height: 22px;
		color      : #EB5757;
	}

	.wpcf7-not-valid {
		border-color: transparent;
		background  : none;

		&.wpcf7-textarea,
		&.textarea,
		&.field {
			color     : #EB5757;
			box-shadow: inset 0 -1px 0 #EB5757;

			&::placeholder {
				color: #EB5757;
			}
		}
	}

	.date .wpcf7-form-control-wrap {
		position: relative;

		&::before {
			content         : '';
			position        : absolute;
			right           : 20px;
			top             : -5px;
			color           : transparent;
			height          : 24px;
			width           : 24px;
			background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.5 3.74857H4.5C3.25736 3.74857 2.25 4.75593 2.25 5.99857V19.4986C2.25 20.7412 3.25736 21.7486 4.5 21.7486H19.5C20.7426 21.7486 21.75 20.7412 21.75 19.4986V5.99857C21.75 4.75593 20.7426 3.74857 19.5 3.74857Z' stroke='%234F908A' stroke-width='1.5' stroke-linejoin='round'/%3E%3Cpath d='M6 2.24872V3.74872' stroke='%234F908A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M18 2.24872V3.74872' stroke='%234F908A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M21.75 7.49887H2.25' stroke='%234F908A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
		}

		.field-date {
			cursor  : pointer;
			position: relative;
			z-index : 2;
		}
	}

	.form__label {
		position     : absolute;
		top          : 18px;
		left         : 20px;
		width        : 70%;
		display      : block;
		font-family  : var(--font-primary);
		font-style   : normal;
		font-weight  : 400;
		font-size    : 10px;
		line-height  : 20px;
		color        : var(--fifth);
		background   : transparent;
		z-index      : 10;
		padding      : 0 6px;
		margin-bottom: 10px;
		white-space  : nowrap;
		overflow     : hidden;
		text-overflow: ellipsis;
	}

	.form__alt_label {
		position      : unset;
		font-family   : var(--font-primary);
		color         : var(--secondary);
		font-size     : 20px;
		font-weight   : 700;
		letter-spacing: 0.015em;
		margin-bottom : 0.875em;
		padding       : 0;
	}

	.textarea {
		height: 56px;
	}

	.form__actions {
		display : table;
		width   : fit-content;
		position: relative;
		margin  : 40px auto 0;
		width   : auto;
		padding : 0;

		&.cta {
			&::before {
				width: 44%;
			}

			&:hover::before {
				width: 100%;
			}

			&.filled-style {
				background-color: var(--fifth);

				&::before {
					background-color: var(--fifth-darken-03) !important;
				}
			}
		}
	}

	.wpcf7-spinner {
		position : absolute;
		top      : 50%;
		right    : 0;
		transform: translateY(-50%);
	}

	.btn {
		display: block;
		width  : 100%;
	}

	.selectric-input {
		display: none;
	}

	.select2-search--dropdown {
		display: none;
	}

	.custom-select-styles {
		background-color: var(--body-background-primary);
		color           : var(--third);
		font-style      : normal;
		font-weight     : 500;
		font-size       : 14px;
		line-height     : 24px;
		letter-spacing  : 0.005em;

	}

	.select2-container--default .select2-selection--single {
		height       : auto;
		background   : var(--sixth);
		border-radius: 0;
		padding      : 15px 15px 15px 0;
		appearance   : none;
		border       : none;
		box-shadow   : inset 0 -1px 0 var(--secondary);
		position     : relative;

		&::before {
			font-family: Font Awesome\ 5 Free;
			font-weight: 900;
			line-height: 1;
			content    : "\f078";
			font-size  : 14px;
			display    : block;
			width      : 14px;
			height     : 14px;
			position   : absolute;
			top        : 50%;
			right      : 15px;
			transform  : translateY(-50%);
			color      : var(--primary);
			transition : all ease-in-out $t-duration-fast;
		}

		&::-ms-expand {
			display: none;
		}

		&:hover {
			background: var(--sixth);
			box-shadow: inset 0 -1px 0 var(--primary);

			.select2-selection__rendered {
				color: var(--primary);
			}
		}
	}

	.select2-container--default.select2-container--open {
		.select2-selection--single {
			box-shadow: inset 0 -1px 0 var(--primary);

			&::before {
				transform: translateY(-50%) rotate(-180deg);
			}

			.select2-selection__rendered {
				color: var(--primary);
			}
		}
	}

	.select2-container--default .select2-selection--single .select2-selection__rendered {
		color      : var(--third);
		font-family: var(--font-primary);
		font-style : normal;
		font-weight: 400;
		font-size  : 16px;
		line-height: 26px;
		padding    : 0;
	}

	.select2-dropdown {
		border          : 0;
		box-shadow      : 0px 14.8px 19.17px rgba(0, 0, 0, 0.035), 0px 3.24px 6.82px rgba(0, 0, 0, 0.0227);
		border-radius   : 8px;
		background-color: $c-white;
	}

	.select2-container--default .select2-results>.select2-results__options {
		padding   : 0;
		background: var(--body-background-primary);
	}

	.select2-results__option.select2-results__option--selectable {
		padding      : 10px 15px;
		border-radius: 2px;
		margin-bottom: 1px !important;
		font-family  : var(--font-primary);
		font-style   : normal;
		font-weight  : 400;
		font-size    : 16px;
		line-height  : 26px;
		color        : var(--secondary);
		border-bottom: 1px solid var(--fourth);
	}

	.select2-container--default .select2-results__option--selected,
	.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
		background : transparent;
		color      : var(--third);
		font-weight: 600;
	}

	.select2-selection__arrow {
		display: none;
	}

	.datepicker {
		position: relative;

		i.fa-calendar {
			display       : block;
			height        : 22px;
			pointer-events: none;
			position      : absolute;
			right         : 18px;
			top           : 50%;
			transform     : translateY(-50%);
			width         : 20px;
			color         : var(--primary);
			font-size     : 20px;
		}
	}

	.datepicker input {
		text-transform: uppercase;
	}

	.form__row-upload label {
		padding: 0;
	}

	.form__row-upload span:not([class]) {
		display      : block;
		margin-bottom: 17px;
		padding-left : 16px;
	}


	.form__row-upload {
		.form__label {
			padding   : 0 0 5px;
			position  : relative;
			left      : 0;
			background: transparent;


			span {
				margin-bottom: -10px;
				font-family  : var(--font-primary);
				font-size    : 16px;
				font-weight  : 500;
				font-style   : normal;
				display      : initial;
			}
		}
	}

	.form__row-upload small {
		font-size: 16px;
	}

	.form__controls-secondary {
		margin-bottom: 0;
	}

	.files .is-file input {
		display: none;
	}

	.files .is-file>label {
		display      : flex;
		flex-wrap    : wrap;
		align-items  : center;
		margin-bottom: 10px;
	}

	.files .is-file>label .btn {
		display         : inline-block;
		max-width       : unset;
		width           : unset;
		text-transform  : capitalize;
		font-size       : 16px;
		line-height     : 26px;
		font-weight     : 500 !important;
		letter-spacing  : 1.25px;
		text-align      : center;
		padding         : 11px 22px;
		background-color: var(--primary);
		color           : #fff;
		margin-right    : 12px;
		border-radius   : 8px;
	}

	.files .is-file>label span {
		width        : auto;
		max-width    : none;
		margin-bottom: 0 !important;
		color        : #E74C3C;
	}

	.range {
		padding: 19px 0;
	}

	input[type="range"] {
		width             : 100%;
		margin            : 5px 0;
		background-color  : transparent;
		-webkit-appearance: none;
		appearance        : none;
	}

	input[type="range"]:focus {
		outline: none;
	}

	input[type="range"]::-webkit-slider-runnable-track {
		background-color: var(--primary);
		border          : 0;
		border-radius   : 12.6px;
		width           : 100%;
		height          : 2px;
		cursor          : pointer;
	}

	input[type="range"]::-webkit-slider-thumb {
		margin-top        : -5px;
		width             : 12px;
		height            : 12px;
		background        : var(--primary);
		border            : 0px solid rgba(233, 82, 13, 0);
		border            : 0;
		border-radius     : 50px;
		cursor            : pointer;
		-webkit-appearance: none;
	}

	input[type="range"]:focus::-webkit-slider-runnable-track {
		background: var(--primary-rgba-03);
	}

	input[type="range"]::-moz-range-track {
		background-color: var(--primary);
		border          : 0;
		border-radius   : 12.6px;
		width           : 100%;
		height          : 2px;
		cursor          : pointer;
	}

	input[type="range"]:focus::-moz-range-track {
		background-color: var(--primary-rgba-03);
	}

	input[type="range"]::-moz-range-thumb {
		width        : 12px;
		height       : 12px;
		background   : var(--primary);
		border       : 0px solid rgba(233, 82, 13, 0);
		border       : 0;
		border-radius: 50px;
		cursor       : pointer;
	}

	input[type="range"]::-ms-track {
		background  : transparent;
		border-color: transparent;
		border-width: 20px 0;
		color       : transparent;
		width       : 100%;
		height      : 2px;
		cursor      : pointer;
	}

	input[type="range"]::-ms-fill-lower {
		background   : #7a2b07;
		border       : 0;
		border-radius: 25.2px;
	}

	input[type="range"]::-ms-fill-upper {
		background-color: var(--primary-rgba-03);
		border          : 0;
		border-radius   : 25.2px;
	}

	input[type="range"]::-ms-thumb {
		width        : 12px;
		height       : 12px;
		background   : var(--primary);
		border       : 0px solid rgba(233, 82, 13, 0);
		border       : 0;
		border-radius: 50px;
		cursor       : pointer;
		margin-top   : 0px;
		/*Needed to keep the Edge thumb centred*/
	}

	input[type="range"]:focus::-ms-fill-lower {
		background-color: var(--primary-rgba-03);
	}

	input[type="range"]:focus::-ms-fill-upper {
		background: #f79d74;
	}

	/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
	how to remove the virtical space around the range input in IE*/
	@supports (-ms-ime-align: auto) {

		/* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
		input[type="range"] {
			margin: 0;
			/*Edge starts the margin from the thumb, not the track as other browsers do*/
		}
	}

	.range {
		.multistep_slide {
			width        : auto;
			max-width    : none;
			padding      : auto;
			box-shadow   : none;
			background   : transparent;
			border-radius: 0;
			z-index      : auto !important;
			color        : initial;
		}
	}
}

.form-subcription {
	padding            : 40px 28px;
	background-color   : var(--primary);
	transition-property: all;
	transition         : linear;
	transition-duration: $t-duration-fast;

	&:hover {
		transform: scale(1.005);
	}

	.sidebar_title {
		padding-left: 11px;

		p {
			color      : var(--fourth);
			font-weight: 500;
			font-size  : 28px;
			line-height: 38px;
		}
	}

	.form__col {
		width  : 100%;
		padding: 0;
	}

	.field,
	.wpcf7-textarea,
	.text-area {
		font-family  : var(--font-primary);
		font-style   : normal;
		font-weight  : 500;
		font-size    : 14px;
		line-height  : 24px;
		padding      : 7px 20px;
		background   : rgba(145, 158, 171, 0.08);
		appearance   : none;
		resize       : none;
		border-radius: 8px;
		transition   : border-color 300ms ease;
		color        : var(--fifth) !important;
		border       : solid 1px transparent;

		.field {
			font-family     : var(--font-primary);
			font-style      : normal;
			font-weight     : normal;
			font-size       : 14px;
			line-height     : 24px;
			padding         : 17px 16px;
			background-color: rgba(#000, 0.2);
			border          : 1px solid rgba(#fff, 0.2);
			border-radius   : 2px;
			appearance      : none;
			resize          : none;
			border-radius   : 8px;
			transition      : border-color 300ms ease;
			color           : white;


			&::-webkit-input-placeholder,
			&::-moz-placeholder,
			&:-ms-input-placeholder,
			&::placeholder {
				color: $form-text-placeholder;
			}

			&::-ms-expand {
				display: none;
			}

			&:hover,
			&:active,
			&:focus {
				border-color: var(--primary);
				caret-color : var(--primary);
			}
		}

		&::-webkit-input-placeholder,
		&::-moz-placeholder,
		&:-ms-input-placeholder,
		&::placeholder {
			color: $form-text-placeholder;
		}

		&::-ms-expand {
			display: none;
		}

		&:hover,
		&:active,
		&:focus {
			border-color: var(--secondary);
			caret-color : var(--secondary);
		}
	}

	.active-field.wpcf7-textarea,
	.active-field.textarea,
	.active-field.field {
		color: #fff;

		&:hover,
		&:active,
		&:focus {
			border-color: var(--secondary);
			color       : #fff;

		}
	}

	.form__label {
		top       : -13px;
		color     : var(--secondary);
		background: $form-input-bg;
		background: linear-gradient(to bottom, var(--primary) 55%, transparent 45%);
	}
}

form.wpcf7-form div.form__controls.select select.wpcf7-select.wpcf7-not-valid+span.select2-container--default {

	.select2-selection--single {
		box-shadow: inset 0 -1px 0 #EB5757;

		.select2-selection__rendered {
			color: #EB5757;
		}
	}
}